[ ca ]
default_ca      = SMX_default

[ SMX_default ]
serial = ca-serial
crl = ca-crl.pem
database = ca-database.txt
name_opt = SMX_default
cert_opt = SMX_default
default_crl_days = 9999
default_md = md5

[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = VA
L                      = Herndon
O                      = Smartronix Inc
OU                     = devops
CN                     = ca
emailAddress           = administrator@smartronix.com

[ req_attributes ]
challengePassword      = test
